.header{
    background-color: lightseagreen;
}
.header .container ul li{
    list-style: none;
    display: inline-block;
    height:80px;
    line-height:80px;
    padding:0 10px;
    transition: background .5s;
}